body{
    background-color:#26231E ;
    width: 100%;
}
h2,h3{
    color: azure;
}
#container{
    height: 700px;
    width: 100%;
    border: 2px solid black;
    background-image: url("images/bk01.jpg");
}

#int
{
    color: blanchedalmond;
    margin:200px;
    word-spacing: 5px;
}
#aboutme
{
    padding: 4px;
    color:white;
    height:auto;
    width: 100%;
    margin-top:5px;
    background-color: whitesmoke;
}

.abouttext
{   width: auto;
    height: auto;
    margin:80px;
    word-spacing:10px;
    text-align: center;
    background-color: rgb(129, 154, 155);
    padding:60px;
    border-radius: 100px;
    word-wrap:break-word;
   
}
#aboutpic
{
     border-radius:50px;
    height:120px;
    width: 105px;
}
#nav
{
    margin: 20px;
    position: fixed;
    font-size: x-large;
}

.btn{
    text-decoration: none;
    color: rgb(221, 219, 214);
    border-radius: 5px;
    padding: 15;
}
#mywork
{
    height: auto;
    padding: 50px;
 margin-top:10px;
}

.wrklik
{   width: 250px;
    height: 100px;
    padding:50px;
    margin:50px;
    display:inline-block;
    justify-content:space-around;
    border: 2px solid white;
}

#textabt
{
    font-size: x-large;
    height: auto;
 
}

.btnwk
{
    background-color: burlywood;
    padding:5px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
     }
.textbtn
{
    text-decoration: none;
    font-size: x-large;
}
.wrklik
{
   background-color: darkgoldenrod;
    height: 150px;
    color: cornsilk;
    text-align: center;
    }
    .wrklik:hover
    {
opacity:0.4;
cursor: pointer;
border-radius: 50px;

}
.textbtn:hover{
    font-size: xx-large;
}

#contact
{ margin-top:10px;
    padding: 10px;
    height: auto;
  
    }
.fa {
    padding: 20px;
    font-size:50px;
    width:30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 20px;
  }
  .fa-linkedin:hover{
      opacity: 0.7;
  }
.fa-linkedin {
    background: #007bb5;
    color: white;
  }
#mail
{
    text-decoration: underline;
}
 